html {
  background-color: indianred;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  height: 10em;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 5px 15px;
  margin: 0px 10px;
  background-color: white;
  border: 0;
  border-radius: 3px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

button:hover {
  background-color: hsl(0, 0%, 90%);
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.stat {
  padding: 5px 20px;
}
